.content {
    margin: 0 auto;
    max-width: 450px;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.div {
    display: block;
}
.login .password-reset a {
    color: #616467;
    text-decoration: underline;
}

.body {
    font-family: Circular,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #222326;
    background-color: #fff;
}

.row:first-child {
    margin-top: 0;
}

.row {
    margin-top: 10px;
    margin-bottom: 10px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}

.col-xs-12 {
    width: 100%;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.form {
    display: block;
    margin-top: 0em;
}

@media (min-width: 350px)
.btn-apple:before, .btn-facebook:before, .btn-google:before {
    font-family: Font Awesome\ 5 Brands;
    font-size: 16px;
    margin-right: 14px;
}

@media (min-width: 350px)
.btn-apple:before {
    display: inline-block;
    content: "\F179";
}
@media (min-width: 350px)
.btn-apple, .btn-facebook, .btn-google {
    padding-top: 14px;
}
.btn, .navbar .navbar-nav .navbar-btn {
    padding: 16px 14px 18px;
}

.btn-black {
    color: #fff;
    background-color: #000;
}
.btn, .navbar .navbar-nav .navbar-btn {
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    padding: 16px 48px 18px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn, .navbar .navbar-nav .navbar-btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 4px;
    padding: 7px 12px 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
[role=button] {
    cursor: pointer;
}
a, a:focus, a:hover {
    text-decoration: none;
}
a {
    color: #15883e;
}
a {
    background-color: transparent;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.btn-group-vertical>.btn-group-inverse:after, .btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .nav-inverse:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
    clear: both;
}

.btn-group-vertical>.btn-group-inverse:after, .btn-group-vertical>.btn-group-inverse:before, .btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav-inverse:after, .nav-inverse:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    content: " ";
    display: table;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
label {
    cursor: default;
}
.form-control, .has-error .form-control, .has-success .form-control, .has-warning .form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control {
    -webkit-appearance: none;
}
.form-control {
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9dadc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control, output {
    display: block;
    font-size: 16px;
    line-height: 1.5;
    color: #222326;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
input[type="text" i] {
    padding: 1px 2px;
}
user agent stylesheet
input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
body {
    font-family: Circular,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #222326;
    background-color: #fff;
}
@media (min-width: 768px)
.col-sm-6 {
    width: 50%;
}

@media (min-width: 768px)
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
}
.col-xs-12 {
    width: 100%;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.checkbox, .checkbox-inline, .form-group label, .radio, .radio-inline {
    color: #616467;
    font-weight: 400;
}
.checkbox, .radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.checkbox label, .radio label {
    padding-left: 1.75em;
    font-weight: 400;
}

.checkbox label, .radio label {
    min-height: 24px;
    padding-left: 20px;
    margin-bottom: 0;
    cursor: pointer;
}
.checkbox-inline input[type=checkbox], .checkbox input[type=checkbox], .radio-inline input[type=radio], .radio input[type=radio] {
    opacity: 0;
    z-index: -1;
}

.checkbox-inline input[type=checkbox], .checkbox input[type=checkbox], .radio-inline input[type=radio], .radio input[type=radio] {
    position: absolute;
    margin-left: -20px;
    margin-top: 4px\9;
}
input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
.checkbox-inline input[type=checkbox]:checked~.control-indicator, .checkbox input[type=checkbox]:checked~.control-indicator {
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32'%3E%3Cpath d='M13.613 27.068l-7.94-7.28q-.285-.267-.442-.613t-.172-.7.11-.71.394-.638q.52-.583 1.3-.614T8.225 17l6.13 5.626 8.79-17q.363-.693 1.104-.93t1.433.118.93 1.103-.126 1.442L16.56 26.55q-.204.394-.558.654t-.78.34q-.063.015-.118.023t-.11.008-.102 0q-.74 0-1.276-.504z' fill='%23FFF'/%3E%3C/svg%3E);
    background-size: 16px;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    width: 1.25em;
    height: 1.25em;
    background-repeat: no-repeat;
    background-position: 50%;
}

.checkbox-inline input[type=checkbox]:checked~.control-indicator, .checkbox input[type=checkbox]:checked~.control-indicator, .radio-inline input[type=radio]:checked~.control-indicator, .radio input[type=radio]:checked~.control-indicator {
    background-color: #15883e;
    border-color: #15883e;
}
.checkbox-inline .control-indicator, .checkbox .control-indicator {
    border-radius: 4px;
}
.control-indicator {
    background-color: #fff;
    border: 1px solid #c1c3c6;
    display: block;
    position: absolute;
    top: 1px;
    left: 0;
    width: 1.25em;
    height: 1.25em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.login .btn-green, .login .btn-primary, .login .navbar .navbar-nav .btn-green, .login .navbar .navbar-nav .btn-primary {
    color: #fff;
    background-color: #15883e;
}

.btn, .navbar .navbar-nav .navbar-btn {
    padding: 16px 14px 18px;
}
.btn-green, .btn-primary, .navbar .navbar-nav .btn-green, .navbar .navbar-nav .btn-primary {
    color: #fff;
    background-color: #1db954;
}
.btn-green {
    color: #fff;
    background-color: #1ed760;
}
.btn, .navbar .navbar-nav .navbar-btn {
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    padding: 16px 48px 18px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn, .navbar .navbar-nav .navbar-btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 4px;
    padding: 7px 12px 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
button {
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
.divider {
    border-top: 1px solid #d9dadc;
    display: block;
    line-height: 1px;
    margin: 15px 0;
    position: relative;
    text-align: center;
}
.h4, .h5 {
    letter-spacing: normal;
}

.h4, h4 {
    font-size: 18px;
}
.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 12px;
    margin-bottom: 12px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 900;
    line-height: 1.1;
    color: inherit;
}
@media (min-width: 768px)
.h2, h2 {
    font-size: 32px;
}
.h2, h2 {
    font-size: 28px;
    font-weight: 900;
    letter-spacing: -.015em;
    line-height: 1.3;
}
.h2, .h3, h1, h2, h3 .h1 {
    margin: .5em 0 .25em;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 24px;
    margin-bottom: 12px;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.row:last-child {
    margin-bottom: 0;
}
@media (min-width: 350px)
.btn-apple, .btn-facebook, .btn-google {
    padding-top: 14px;
}

.btn, .navbar .navbar-nav .navbar-btn {
    padding: 16px 14px 18px;
}
.btn-facebook {
    color: #fff;
    background-color: #3b5998;
}
.btn, .navbar .navbar-nav .navbar-btn {
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    padding: 16px 48px 18px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn, .navbar .navbar-nav .navbar-btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 4px;
    padding: 7px 12px 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
[role=button] {
    cursor: pointer;
}
a, a:focus, a:hover {
    text-decoration: none;
}
a {
    color: #15883e;
}
a {
    background-color: transparent;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
@media (min-width: 350px)
.btn-apple, .btn-facebook, .btn-google {
    padding-top: 14px;
}

.btn, .navbar .navbar-nav .navbar-btn {
    padding: 16px 14px 18px;
}
.btn-default, .btn-secondary, .btn-secondary-img, .btn-stroked-dark, .btn-tertiary {
    color: #616467;
    box-shadow: inset 0 0 0 2px #616467;
    background-color: transparent;
}
.btn, .navbar .navbar-nav .navbar-btn {
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    padding: 16px 48px 18px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
}
.divider .divider-title {
    background: #fff;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 0 20px;
    text-transform: uppercase;
}

b, strong {
    font-weight: 700;
}
.row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}
.text-center {
    text-align: center;
}

.head {
    border-bottom: 1px solid #d9dadc;
    padding: 25px 0 10px;
    margin-bottom: 30px;
    text-align: center;
}

/* HEADER */
.header.default {
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1040;
}

.header {
	padding: .4em 0;
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}

*, ::before, ::after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
}

.header .left-part {
	float: left;
	margin-left: 3.125rem;
}

.header .logo {
	display: inline-block;
}

.header .logo h2 {
	color: black;
	font-size: 30px;
	font-weight: 600;
}

.uppercase {
	text-transform: uppercase;
}

body h2{
    margin: 0;
    padding: 0;
}

.mb-0, .my-0 {
	margin-bottom: 0 !important;
}

h2, .h2 {
	font-size: 2.5rem;
	line-height: 3rem;
	letter-spacing: 5px;
	font-family: "Montserrat", Helvetica, Arial, sans-serif;
	margin-bottom: .5rem;
	font-weight: 400;
	position: relative;
	color: #ffffff;
}

.header .right-part {
	float: right;
	margin-right: 3.125rem;
	position: relative;
}

.list-inline {
	padding-left: 0;
	list-style: none;
}

.main-nav li {
	display: inline-block;
	font-size: 1.1rem;
	font-weight: 500;
	text-transform: uppercase;
	margin-left: 1.9625rem;
	font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* red user-icon */
.main-nav ul li i {
    color: #ff5252;
}

.header.switched-header {
		background-color: #ffffff;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1040;
}

.header.switched-header .logo h2{
		color: #222222;
}

.header.switched-header .main-nav li a {
     color: #949494;
}

.header.switched-header a {
  color: black;
  text-decoration: none;
}

/*END HEADER*/
