/*******************************************************/
/*START TABLE OF CONTENT
/*******************************************************/
/*

Project:	Aqura WordPress
Version:	1.0
Date: 		26-09-2016
Author:		Theme - Brothers

1.0 Home-Shop
	1.1 Single-Shop

2.0 Components
	2.1 Custom
	2.2 Home-Star

0.scrollbar
1.Preloader
2.Welcome Section (general header)
3. Button navigation for music library

/*******************************************************/
/*END TABLE OF CONTENT
/*******************************************************/


/*scrollbar style */
:root{
  scrollbar-color: #395761 #2E3645 !important;
  scrollbar-width: thin !important;
}

* {
  scrollbar-width: thin !important;
}
/*end scrollbar style */

/*Preloader*/
 .loader {
     background: #13181d;
     bottom: 0;
     height: 100%;
     left: 0;
     position: fixed;
     right: 0;
     top: 0;
     width: 100%;
     z-index: 10000;
}
 .loader-inner {
     left: 0;
     position: absolute;
     top: 50%;
     width: 100%;
     text-align: center;
     transform: translateY(-50%);
     -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     -o-transform: translateY(-50%);
}
 .loading-spinner {
     width: 6.25rem;
     height: 6.25rem;
     animation: spinner-rotate 2s ease-in-out infinite;
     -webkit-animation: spinner-rotate 2s ease-in-out infinite;
     -moz-animation: spinner-rotate 2s ease-in-out infinite;
     -ms-animation: spinner-rotate 2s ease-in-out infinite;
     -o-animation: spinner-rotate 2s ease-in-out infinite;
}
 .spinner {
     animation: spinner-color 8s ease-in-out infinite, spinner-dash 2s ease-in-out infinite;
     -webkit-animation: spinner-color 8s ease-in-out infinite, spinner-dash 2s ease-in-out infinite;
     -moz-animation: spinner-color 8s ease-in-out infinite, spinner-dash 2s ease-in-out infinite;
     -ms-animation: spinner-color 8s ease-in-out infinite, spinner-dash 2s ease-in-out infinite;
     -o-animation: spinner-color 8s ease-in-out infinite, spinner-dash 2s ease-in-out infinite;
     stroke-linecap: round;
}
 @keyframes spinner-rotate {
     100% {
         transform: rotate(360deg);
         -webkit-transform: rotate(360deg);
         -moz-transform: trotate(360deg);
         -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
    }
}
 @keyframes spinner-color {
     0%, 100% {
         stroke: #d0343a;
    }
     20% {
         stroke: #ff5252;
    }
     40% {
         stroke: #d0343a;
    }
     60% {
         stroke: #ff5252;
    }
     80% {
         stroke: #d0343a;
    }
     100% {
         stroke: #ff5252;
    }
}
 @keyframes spinner-dash {
     0% {
         stroke-dasharray: 1, 200;
         stroke-dashoffset: 0;
    }
     50% {
         stroke-dasharray: 90, 200;
         stroke-dashoffset: -35px;
    }
     100% {
         stroke-dasharray: 90, 200;
         stroke-dashoffset: -125px;
    }
}
/*End preloader*/

/* Typography and Common style*/
h1,
h2,
.h1,
 {
    font-family: 'Dosis', "Helvetica Neue", "Helvetica", Helvetica, Arial,sans-serif;
    margin-bottom:.5rem;
    font-weight: 400;
    position: relative;
    letter-spacing: 2px;
    color: #ffffff;

}

h1, .h1{
     font-size:2.875rem;
     line-height: 1.2;
     letter-spacing: 5px;
}

 h2, .h2 {
     font-size:2.5rem;
     line-height: 3rem;
     letter-spacing: 5px;
}

h7 {
  text-decoration: none;
  color: #757575;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
}

.uppercase {
    text-transform: uppercase;
}

.text-white {
    color: #ffffff;
}

.span{
    font-size: .75rem;
}

.vertical-align {
    display: -webkit-flex !important;
    display: -moz-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}


a,
a:hover,
a:active,
a:visited,
a:focus {
    text-decoration: none;
}

.padding {
  padding: 18rem 0;
}
/* End typography and common style*/

/* welcome Section*/
 .welcome {
     background: #222222;
     background-image: url("../assets/img/wallpaper.jpg");
     background-size: cover;
     padding: 0;
     overflow:hidden;
     height: 100vh;
}

 .header {
     padding: .4em 0;
}

 .header.default {
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
     z-index: 1040;
}
 .header .left-part {
     float: left;
     margin-left: 3.125rem;
}

.header .middle-part{
  width: 400px;
  position: absolute;
  left: 37%;
  top:20%;
}

 .header .right-part {
     float: right;
     margin: 0.6rem;
     margin-right: 3.125rem;
     position: relative;
}

 .header.switched-header {
     background-color: #ffffff;
     left: 0;
     position: fixed;
     top: 0;
     width: 100%;
     z-index: 1040;
}

 .header .logo {
     display: inline-block;
}
 .header .logo h2 {
     color: #ffffff;
     font-size: 3rem;
     font-weight: 600;
}

 .header.switched-header .logo h2{
     color: #222222;
 }

 .main-nav li {
     display: inline-block;
     font-size: 1.5rem;
     font-weight: 600;
     text-transform: uppercase;
     margin-left: 1.9625rem;
     font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.main-nav ul li i{
    color: #ff5252;
}

.main-menu li a {
     color: #ffffff;
     position: relative;
     padding:1rem 0;
     margin-right: 0 !important;
}

.header.switched-header .main-nav li a {
     color: #949494;
}

 .welcome-content {
     color: #ffffff;
     position: relative;
     text-align: center;
     top: 35%;
     transform: translateY(-50%);
     -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     -o-transform: translateY(-50%);
     z-index: 4;
}

.subtitle{
  position: relative;
  top: 65%;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.discover{
  color: #ffffff;
  height: 50px;
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  z-index: 4;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50px 20px;
}

.fas{
  position: relative;
  font-size: 6rem;
}

 h1.large {
     font-size: 6rem;
     line-height: 1.5;
     letter-spacing: .425rem;
     font-weight: 100;
}

h1.medium {
    font-size: 3rem;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    position: relative;
    top:6px;
}
 .back-rect {
     border: 10px solid transparent;
     -moz-border-image: -moz-linear-gradient(top, #d0343a 0%, #ff5252 100%);
     -ms-border-image: -ms-linear-gradient(top, #d0343a 0%, #ff5252 100%);
     -webkit-border-image: -webkit-linear-gradient(top, #d0343a 0%, #ff5252 100%);
     border-image: linear-gradient(to bottom, #d0343a 0%, #ff5252 100%);
     border-image-slice: 1;
     width: 17.25rem;
     height: 21.5625rem;
     top: 50%;
     left: 50%;
     -webkit-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
     position: absolute;
}
 .front-rect {
     border-right: 10px solid transparent;
     -moz-border-image: -moz-linear-gradient(top, #d0343a 0%, #ff5252 100%);
     -webkit-border-image: -webkit-linear-gradient(top, #ff3d49 0%, #ff5252 100%);
     border-image: linear-gradient(to bottom, #d0343a 0%, #ff5252 100%);
     border-image-slice: 1;
     width: 17.25rem;
     height: 21.5625rem;
     top: 50%;
     left: 50%;
     -webkit-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     transform: translate(-50%), -50%;
     position: absolute;
}
/* End welcome Section*/

/* Button navigation menu music library */

.button {
  display: inline-flex;
  height: 33px;
  width: 120px;
  border: 2px solid #BFC0C0;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}


.header.default a {
  color: white;
  text-decoration: none;
}

.header.switched-header a {
  color: black;
  text-decoration: none;
}

.button a {
  position: relative;
  transition: all .45s ease-Out;
}

#circle {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  background: #BFC0C0;
  position: absolute;
  transition: all .5s ease-Out;
  top: 20px;
  left: 70px;
}

.button:hover #circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -70px;
  left: -70px;
}

.button:hover a {
  color: #2D3142;
}

/*end button navigation */

/***********************************************************************************************/
/* START TABLE EVENTS */
/***********************************************************************************************/
.tableEvents table {
  width: 100%;
  /*autowidth table*/
  table-layout : fixed;
}
/*adjust manually the width for the 1st,2sd and 3rd columns.*/
table tr th:nth-child(1){
       width: 40px;
}

table tr th:nth-child(2){
       width: 50px;
}
table tr th:nth-child(3){
       width: 300px;
}

.tableEvents table tr:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.tableEvents table td {
  padding: 1.5rem 0;
  border-bottom: 1px solid #d8d8d8;
  font-family: 'Montserrat', sans-serif;
}
.tableEvents table td a {
  text-decoration: none;
  color: #757575;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
}
.tableEvents table td a:hover {
  color: #757575;
}

.tableEvents table th {
  font-weight: 700;
  text-transform: uppercase;
  color: #525252;
  font-size: 1.3rem;
  padding: 1.5rem 0;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}
.tableEvents table .aqura-vip a,
.tableEvents table .aqura-tickets a {
  padding: 0.4rem 1.5rem;
  border-radius: 1.3rem;
  width: 60px;
  display: inline-block;
}
.tableEvents table .aqura-vip {
  text-align: center;
}
.tableEvents table .aqura-vip a {
  -webkit-transition-delay: 0;
  transition-delay: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  color: #fff;
  background-color: #000;
}
.tableEvents table .aqura-vip a:hover {
  color: #fff;
  background: #bb9b69;
}
.tableEvents table .aqura-tickets {
  text-align: left;
}
.tableEvents table .aqura-tickets a {
  -webkit-transition-delay: 0;
  transition-delay: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.tableEvents table .aqura-tickets a:hover {
  color: #fff;
  background: #bb9b69;
}
.tableEvents table .tickets {
  text-align: center;
  width: 5%;
}
.tableEvents table td.aqura-tickets {
  text-align: center;
  width: 70px;
}

/***********************************************************************************************/
/* END TABLE EVENTS */
/***********************************************************************************************/

.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.col-sm-8 {
  margin-left: auto;
  margin-right: auto;
}

.padding-no-title{
  padding: 12rem 0;
}

.footer.bottom{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#eeeeee;
}
