
@font-face {
	font-family: spotify-circular;
	src: url('https://open.scdn.co/fonts/CircularSpUIv3T-Book.woff2') format('woff2'), url('https://open.scdn.co/fonts/CircularSpUIv3T-Book.woff') format('woff'), url('https://open.scdn.co/fonts/CircularSpUIv3T-Book.ttf') format('ttf');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: spotify-circular;
	src: url('https://open.scdn.co/fonts/CircularSpUIv3T-Bold.woff2') format('woff2'), url('https://open.scdn.co/fonts/CircularSpUIv3T-Bold.woff') format('woff'), url('https://open.scdn.co/fonts/CircularSpUIv3T-Bold.ttf') format('ttf');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: spotify-circular;
	src: url('https://open.scdn.co/fonts/CircularSpUIv3T-Black.woff2') format('woff2'), url('https://open.scdn.co/fonts/CircularSpUIv3T-Black.woff') format('woff'), url('https://open.scdn.co/fonts/CircularSpUIv3T-Black.ttf') format('ttf');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

/*scrollbar style */
:root{
	scrollbar-color: #395761 #2E3645 !important;
	scrollbar-width: thin !important;
}

* {
	scrollbar-width: thin !important;
}
/*end scrollbar style */

/*------- BUTTONS ------ */

.face_btn {
	background-color: transparent;
	border: 0;
	border-radius: 500px;
	cursor: default;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	-webkit-letter-spacing: 2px;
	-moz-letter-spacing: 2px;
	-ms-letter-spacing: 2px;
	letter-spacing: 2px;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
	touch-action: manipulation;
	-webkit-transition-duration: 33ms;
	transition-duration: 33ms;
	-webkit-transition-property: background-color, border-color, color, box-shadow, filter, -webkit-transform;
	-webkit-transition-property: background-color, border-color, color, box-shadow, filter, transform;
	transition-property: background-color, border-color, color, box-shadow, filter, transform;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	vertical-align: middle;
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	padding: 17px 48px;
	background-color: #3a5897;
	color: #ffffff;
}

.face_btn:hover:not(:focus){
	-webkit-transform: scale(1.04);
	-ms-transform: scale(1.04);
	transform: scale(1.04);
	background-color: #6B82B1;
	color: #ffffff;
}

/*after click*/
.face_btn:focus {
	color: rgba(255, 255, 255, 0.8);
	background-color: #314B80;
}

.btn_style {
	background-color: transparent;
	border: 0;
	border-radius: 500px;
	cursor: default;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	-webkit-letter-spacing: 2px;
	-moz-letter-spacing: 2px;
	-ms-letter-spacing: 2px;
	letter-spacing: 2px;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
	touch-action: manipulation;
	-webkit-transition-duration: 33ms;
	transition-duration: 33ms;
	-webkit-transition-property: background-color, border-color, color, box-shadow, filter, -webkit-transform;
	-webkit-transition-property: background-color, border-color, color, box-shadow, filter, transform;
	transition-property: background-color, border-color, color, box-shadow, filter, transform;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	vertical-align: middle;
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	padding: 17px 48px;
	background-color: #1db954;
	color: #ffffff;
}

.btn_style:hover:not(:focus):not(:disabled) {
	-webkit-transform: scale(1.04);
	-ms-transform: scale(1.04);
	transform: scale(1.04);
	background-color: #1ed760;
	color: #ffffff;
}

.btn_style:focus {
	color: #eeeeee;
	background-color: #1da64d;
}

.btn_style:active,
.btn_style:active:hover {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	background-color: #14833b;
	box-shadow: none;
	color: #bdbdbd;
}

.btn_style:focus {
	outline: none;
}

/*--- END BUTTONS --*/

.title {
	font-size: 28px;
	font-weight: 900;
	-webkit-letter-spacing: -0.25px;
	-moz-letter-spacing: -0.25px;
	-ms-letter-spacing: -0.25px;
	letter-spacing: -0.25px;
	line-height: 36px;
	padding-bottom: 0.75em;
	padding-bottom: 0;
	font-weight: 700;
}


@media (min-width:768px) {
	.title {
		font-size: 32px;
		line-height: 40px;
		-webkit-letter-spacing: -0.5px;
		-moz-letter-spacing: -0.5px;
		-ms-letter-spacing: -0.5px;
		letter-spacing: -0.5px;
	}
}

.text-style {
	font-size: 18px;
	font-weight: 400;
	line-height: 26px;
	-webkit-letter-spacing: 0px;
	-moz-letter-spacing: 0px;
	-ms-letter-spacing: 0px;
	letter-spacing: 0px;
	font-weight: 700;
}

.label_checkbox {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	-webkit-letter-spacing: 0.25px;
	-moz-letter-spacing: 0.25px;
	-ms-letter-spacing: 0.25px;
	letter-spacing: 0.25px;
}


.text_term_conditions {
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	-webkit-letter-spacing: 0.25px;
	-moz-letter-spacing: 0.25px;
	-ms-letter-spacing: 0.25px;
	letter-spacing: 0.25px;
}

.account {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	-webkit-letter-spacing: 0px;
	-moz-letter-spacing: 0px;
	-ms-letter-spacing: 0px;
	letter-spacing: 0px;
}

.inner_checkbox_format {
	border: 0;
	-webkit-clip: rect(0, 0, 0, 0);
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}


.policy_check {
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding-bottom: 4px;
	padding-top: 4px;
	position: relative;
	min-height: 32px;
}


.format_policy_check {
	background: transparent;
	border-radius: 3px;
	display: inline-block;
	height: 16px;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 16px;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-align-self: flex-start;
	-ms-flex-item-align: start;
	align-self: flex-start;
	top: 4px;
	border: 1px solid #bdbdbd;
}

input:hover~.indicator_policy {
	border-color: #1ed760;
}

input:active~.indicator_policy {
	border-color: #14833b;
	border-width: 2px;
}

input:disabled:not(:checked)~.indicator_policy {
	background-color: #f8f8f8;
	border-color: #bdbdbd;
	border-width: 1px;
	cursor: not-allowed;
}

input:checked~.indicator_policy {
	background-color: #1db954;
	background-image: url('data:image/svg+xml;charset=utf-8, %3Csvg%20width%3D%2210%22%20height%3D%229%22%20viewBox%3D%220%200%2010%209%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1%204l3%203%205-6%22%20stroke-width%3D%222%22%20stroke%3D%22%23FFF%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 10px;
	border-width: 0;
}

input:checked:active~.indicator_policy {
	background-color: #14833b;
}

input:checked:disabled~.indicator_policy {
	background-color: #1db954;
	opacity: 0.5;
}

.policy_text {
	color: #181818;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	-webkit-letter-spacing: 0.25px;
	-moz-letter-spacing: 0.25px;
	-ms-letter-spacing: 0.25px;
	letter-spacing: 0.25px;
	padding-left: 12px;
	padding-right: 24px;
}

input:disabled~.Label-sc-16kzp0w-0 {
	cursor: not-allowed;
	opacity: 0.5;
}

.cell {
	padding-bottom: 24px;
}

/* label input fields*/
.container_checkbox {
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding-bottom: 4px;
	padding-top: 4px;
	position: relative;
	min-height: 32px;
}

.color_label {
	color: #181818;
}

.label_field {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	-webkit-letter-spacing: 0.25px;
	-moz-letter-spacing: 0.25px;
	-ms-letter-spacing: 0.25px;
	letter-spacing: 0.25px;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	font-weight: 700;
	width: 100%;
}


@media (max-width:767px) {
	.label_field {
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
}

@media (min-width:768px) {
	.label_field {
		padding-bottom: 8px;
	}
}

/* START INPUT BOXEX APPEARANCE*/
.input_box_style {
	-webkit-appearance: none;
	background-image: none;
	border: 0;
	display: block;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	-webkit-letter-spacing: 0.25px;
	-moz-letter-spacing: 0.25px;
	-ms-letter-spacing: 0.25px;
	letter-spacing: 0.25px;
	-webkit-transition: box-shadow ease-in-out 0.1s, color fade 0.1s;
	transition: box-shadow ease-in-out 0.1s, color fade 0.1s;
	width: 100%;
	background-color: #ffffff;
	color: #181818;
}

/*opacity labels in the input boxex*/

.input_box_style::-webkit-input-placeholder {
	opacity: 1;
}


.input_box_style::-moz-placeholder {
	opacity: 1;
}


.input_box_style:-ms-input-placeholder {
	opacity: 1;
}

.input_box_style::placeholder {
	opacity: 1;
}

/*end opacity */

/*no outline border when click or select the input box*/
.input_box_style:focus,
.input_box_style:hover:focus {
	outline: 0;
}


@media (max-width:767px) {
	.input_box_style {
		border-radius: 0;
		border-bottom: 1px solid;
		padding-top: 10px;
		padding-bottom: 9px;
	}
	.input_box_style:focus,
	.input_box_style:hover:focus {
		padding-bottom: 8px;
		border-bottom-width: 2px;
	}
}


@media (min-width:768px) {
	.input_box_style {
		border-radius: 4px;
		padding: 14px;
	}
}

/*set the border color (shadow results in a border effect visually)*/

@media (max-width:767px) {
	.input_box_style {
		border-color: #bdbdbd;
	}
}


@media (min-width:768px) {
	.input_box_style {
		box-shadow: inset 0 0 0 1px #bdbdbd;
	}
}

@media (max-width:767px) {
	.input_box_style:focus,
	.input_box_style:hover:focus {
		border-color: #181818;
	}
}


@media (min-width:768px) {
	.input_box_style:focus,
	.input_box_style:hover:focus {
		box-shadow: inset 0 0 0 1px #181818;
	}
}

/*end border effects*/
/*start to set color to placeholder (default writtings inside the boxex)*/

.input_box_style::-webkit-input-placeholder {
	color: #757575;
}

.input_box_style::-moz-placeholder {
	color: #757575;
}

.input_box_style:-ms-input-placeholder {
	color: #757575;
}


.input_box_style::placeholder {
	color: #757575;
}

/*END INPUT BOXEX APPEARANCE*/

/*checkbox */
.outer_checkbox {
	background: transparent;
	border-radius: 50%;
	display: inline-block;
	height: 16px;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 16px;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-align-self: flex-start;
	-ms-flex-item-align: start;
	align-self: flex-start;
	top: 4px;
	border: 1px solid #bdbdbd;
}

input:checked~.indicator::after {
	background-color: #ffffff;
	border-radius: 50%;
	content: '';
	height: 0.5em;
	left: 50%;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 0.5em;
}

input:hover~.indicator {
	border-color: #1ed760;
}

input:active~.indicator {
	border-color: #14833b;
	border-width: 2px;
}

input:disabled:not(:checked)~.indicator {
	background: #f8f8f8;
	border-color: #bdbdbd;
	border-width: 1px;
	cursor: not-allowed;
}

input:checked~.indicator {
	background: #1db954;
	border-width: 0;
}

input:checked:active~.indicator {
	background: #14833b;
}

input:checked:disabled~.indicator {
	background: #1db954;
	opacity: 0.5;
}

.color_label_checkbox {
	color: #181818;
	padding-left: 12px;
	padding-right: 24px;
}

/*END CHECKBOX */

/*start select month (drop menu and box) appearance*/
.select_month {
	-webkit-appearance: none;
	background-image: none;
	border: 0;
	display: block;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	-webkit-letter-spacing: 0.25px;
	-moz-letter-spacing: 0.25px;
	-ms-letter-spacing: 0.25px;
	letter-spacing: 0.25px;
	-webkit-transition: box-shadow ease-in-out 0.1s, color fade 0.1s;
	transition: box-shadow ease-in-out 0.1s, color fade 0.1s;
	width: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: none;
	text-indent: 0.01px;
	text-overflow: '';
	background-color: #ffffff;
	color: #181818;
}

.select_month::-webkit-input-placeholder {
	opacity: 1;
}

.select_month::-moz-placeholder {
	opacity: 1;
}

.select_month:-ms-input-placeholder {
	opacity: 1;
}

.select_month::placeholder {
	opacity: 1;
}

.select_month:focus,
.select_month:hover:focus {
	outline: 0;
}


@media (max-width:767px) {
	.select_month {
		border-radius: 0;
		border-bottom: 1px solid;
		padding-top: 10px;
		padding-bottom: 9px;
		padding-right: 24px;
	}
	.select_month:focus,
	.select_month:hover:focus {
		padding-bottom: 8px;
		border-bottom-width: 2px;
	}
}

@media (min-width:768px) {
	.select_month {
		border-radius: 4px;
		padding: 14px 44px 14px 14px;
	}
}

@media (max-width:767px) {
	.select_month {
		border-color: #bdbdbd;
	}
}

@media (min-width:768px) {
	.select_month {
		box-shadow: inset 0 0 0 1px #bdbdbd;
	}
}

@media (max-width:767px) {
	.select_month:focus,
	.select_month:hover:focus {
		border-color: #181818;
	}
}

@media (min-width:768px) {
	.select_month:focus,
	.select_month:hover:focus {
		box-shadow: inset 0 0 0 1px #181818;
	}
}

.select_month::-webkit-input-placeholder {
	color: #757575;
}

.select_month::-moz-placeholder {
	color: #757575;
}

.select_month:-ms-input-placeholder {
	color: #757575;
}

.select_month::placeholder {
	color: #757575;
}
/* end select month */



*,
*::before,
*::after {
	box-sizing: border-box;
}


html {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/*!sc*/

body {
	color: #181818;
	font-family: spotify-circular, Helvetica, Arial, sans-serif;
	margin: 0;
	-webkit-overflow-scrolling: touch;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}


p,
li,
small {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	-webkit-letter-spacing: 0.25px;
	-moz-letter-spacing: 0.25px;
	-ms-letter-spacing: 0.25px;
	letter-spacing: 0.25px;
	display: block;
	margin: 0;
	padding: 0 0 1em;
}


a {
	color: #000000;
	-webkit-text-decoration: none;
	text-decoration: none;
}

a:hover {
	cursor: pointer;
}

.header2 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

@media (min-width:768px) {
	.header2 {
		padding: 40px 0 32px;
	}
}

@media (max-width:767px) {
	.header2 {
		padding: 32px 0 28px;
	}
}


.title2 {
	text-align: center;
	line-height: 36px;
	-webkit-letter-spacing: -0.04em;
	-moz-letter-spacing: -0.04em;
	-ms-letter-spacing: -0.04em;
	letter-spacing: -0.04em;
}

@media (min-width:768px) {
	.title2 {
		margin-top: 40px;
	}
}

@media (max-width:767px) {
	.title2 {
		margin-top: 32px;
	}
}

.date_container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}


@media (max-width:767px) {
	.some_settings_for_small_screen {
		box-shadow: inset 0 0 0 1px #bdbdbd;
		margin-top: 8px;
		border-radius: 4px;
		padding: 14px;
		border: none;
	}
	.some_settings_for_small_screen:focus,
	.some_settings_for_small_screen:hover:focus {
		box-shadow: inset 0 0 0 1px #181818;
		padding: 14px;
	}
}

.year_container {
	width: 25%;
}

.year_container label {
	font-weight: normal;
}

.style_month {
	width: 45%;
}

.style_month label {
	font-weight: normal;
}

@media (max-width:767px) {
	.style_month label {
		margin-bottom: 8px;
	}
	.style_month svg {
		right: 14px;
	}
}

.no-bottom-pad {
	padding-bottom: 0;
}

/* day options*/
.day_container {
	width: 20%;
}

.day_container label {
	font-weight: normal;
}
/*end day options*/

.input_checkbox {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.sign_up_btn {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-around;
	-webkit-justify-content: space-around;
	-ms-flex-pack: space-around;
	justify-content: space-around;
	margin-bottom: 24px;
}


.pointer {
	cursor: pointer;
	width: 100%;
}

.Facebook {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-around;
	-webkit-justify-content: space-around;
	-ms-flex-pack: space-around;
	justify-content: space-around;
	margin-bottom: 22px;
}

@media (max-width:767px) {
	.Facebook {
		margin-bottom: 18px;
	}
}


.face_btn2 {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 48px;
	line-height: 16px;
	padding: 16px 12px;
}


@media (max-width:320px) {
	.face_btn2 {
		line-height: 20px;
	}
}


.divider {
	display: table;
	font-size: 16px;
	line-height: 24px;
	-webkit-letter-spacing: 2px;
	-moz-letter-spacing: 2px;
	-ms-letter-spacing: 2px;
	letter-spacing: 2px;
	margin: 0 auto 1em;
	color: #757575;
	position: relative;
	text-align: center;
	width: 85%;
}


.divider:before,
.divider:after {
	border-top: 1px solid #bdbdbd;
	content: '';
	display: table-cell;
	position: relative;
	top: 0.8em;
	width: 42%;
}

.center-text {
	text-align: center;
}

.container_sing_up {
	max-width: 450px;
	margin: 0 auto;
	padding-bottom: 130px;
}


/* HEADER */
.header.default {
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1040;
}

.header {
	padding: .4em 0;
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}

*, ::before, ::after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
}

.header .left-part {
	float: left;
	margin-left: 3.125rem;
}

.header .logo {
	display: inline-block;
}

.header .logo h2 {
	color: black;
	font-size: 30px;
	font-weight: 600;
}

.uppercase {
	text-transform: uppercase;
}

body h2{
    margin: 0;
    padding: 0;
}

.mb-0, .my-0 {
	margin-bottom: 0 !important;
}

h2, .h2 {
	font-size: 2.5rem;
	line-height: 3rem;
	letter-spacing: 5px;
	font-family: "Montserrat", Helvetica, Arial, sans-serif;
	margin-bottom: .5rem;
	font-weight: 400;
	position: relative;
	color: #ffffff;
}

.header .right-part {
	float: right;
	margin-right: 3.125rem;
	position: relative;
}

.list-inline {
	padding-left: 0;
	list-style: none;
}

.main-nav li {
	display: inline-block;
	font-size: 1.1rem;
	font-weight: 500;
	text-transform: uppercase;
	margin-left: 1.9625rem;
	font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* red user-icon */
.main-nav ul li i {
    color: #ff5252;
}

.header.switched-header {
		background-color: #ffffff;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1040;
}

.header.switched-header .logo h2{
		color: #222222;
}

.header.switched-header .main-nav li a {
     color: #949494;
}

.header.switched-header a {
  color: black;
  text-decoration: none;
}

/*END HEADER*/
