<html>
<head>
  <link rel='stylesheet'  href='css/login.css' type='text/css' media='all' />
</head>
<body>

  <div class="content">
    <div class="row">
      <div class="col-xs-12">
        <a ng-href="https://www.facebook.com/v7.0/dialog/oauth?client_id=174829003346&amp;state=AQAAq8DAtxm7XR%2Bd%2BwhzTskkyos7H%2Fqoi%2F2YgXdyJPco0G95bAmU4htnqVe26wXwtGDjM2at4023VuuDCaqBlYvJYjo8mMDmN81k%2FWH0s2%2BsPYm%2FjNDijTKKGKv1Giz2YCyNWmBCYwmYkD1V5nw%3D&amp;redirect_uri=https%3A%2F%2Faccounts.spotify.com%2Flogin%2Ffacebook%2Fredirect" class="btn btn-block btn-facebook ng-binding" target="_parent" role="button">
          Continue with Facebook
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <a ng-href="https://appleid.apple.com/auth/authorize?client_id=com.spotify.accounts&amp;response_type=code&amp;response_mode=form_post&amp;scope=name%20email&amp;state=AQAAq8DAtxm7XR%2Bd%2BwhzTskkyos7H%2Fqoi%2F2YgXdyJPco0G95bAmU4htnqVe26wXwtGDjM2at4023VuuDCaqBlYvJYjo8mMDmN81k%2FWH0s2%2BsPYm%2FjNDijTKKGKv1Giz2YCyNWmBCYwmYkD1V5nw%3D&amp;redirect_uri=https%3A%2F%2Faccounts.spotify.com%2Flogin%2Fapple%2Fredirect" class="btn btn-block btn-black btn-apple ng-binding" target="_parent" role="button">
          Continue with Apple
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <a class="btn btn-block btn-default btn-google ng-binding" target="_parent" role="button">
          Continue with Google
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="divider">
          <strong class="divider-title ng-binding">or</strong>
        </div>
      </div>
    </div>

    <form name="$parent.accounts" method="post" novalidate="" class="ng-pristine ng-valid-sp-disallow-chars ng-invalid ng-invalid-required">

      <div class="row" ng-class="{'has-error': (accounts.username.$dirty &amp;&amp; accounts.username.$invalid) || invalidCredentials}">
        <div class="col-xs-12">
          <label for="login-username" class="control-label ng-binding">
            Email address or username
          </label>
          <input ng-model="form.username" type="text" class="form-control input-with-feedback ng-pristine ng-valid-sp-disallow-chars ng-empty ng-invalid ng-invalid-required ng-touched" name="username" id="login-username" placeholder="Email address or username" required="" sp-disallow-chars=":%&amp;'`´&quot;" sp-disallow-chars-model="usernameDisallowedChars" autocapitalize="off" autocomplete="off" autocorrect="off" autofocus="autofocus" ng-trim="false" ng-change="onInputChange()">
          <!-- ngIf: accounts.username.$dirty && accounts.username.$invalid -->
        </div>
      </div>

      <div class="row" ng-class="{'has-error': (accounts.password.$dirty &amp;&amp; accounts.password.$invalid) || invalidCredentials}">
        <div class="col-xs-12">
          <label for="login-password" class="control-label ng-binding">
            Password
          </label>
          <input ng-model="form.password" type="password" class="form-control input-with-feedback ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" name="password" id="login-password" placeholder="Password" required="" autocomplete="off" ng-trim="false" ng-change="onInputChange()">
          <!-- ngIf: accounts.password.$dirty && accounts.password.$invalid -->
        </div>
      </div>



      <div class="row password-reset">
        <div class="col-xs-12">
          <p>
            <a id="reset-password-link" ng-href="https://www.spotify.com/password-reset/" analytics-on="click" analytics-category="Login View" analytics-event="Forgot Button" analytics-label="" class="ng-binding" href="https://www.spotify.com/password-reset/">Forgot your password?</a>
          </p>
        </div>
      </div>

      <div class="row row-submit">
        <div class="col-xs-12 col-sm-6">
          <div class="checkbox">
            <label class="ng-binding">
              <input ng-model="form.remember" type="checkbox" name="remember" analytics-on="checked" analytics-category="Login View" id="login-remember" class="ng-pristine ng-untouched ng-valid ng-not-empty">
              Remember me
              <span class="control-indicator"></span>
            </label>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <button class="btn btn-block btn-green ng-binding" id="login-button" ng-click="onLoginClick($event)">Log In</button>
        </div>
      </div>
    </form>

    <div id="sign-up-section">
      <div class="row">
        <div class="col-xs-12">
          <signup class="ng-isolate-scope"><!-- ngIf: showSignup --><div ng-if="showSignup" class="ng-scope">
            <!-- ngIf: showButton --><div ng-if="showButton" class="ng-scope">
            <div class="row">
              <div class="col-xs-12">
                <div class="divider">
                  <!-- ngIf: showOrLabel -->
                </div>
              </div>
            </div>
            <div class="row text-center mt-0">
              <h2 class="h4 ng-binding">Don't have an account?</h2>
            </div>
            <div>
              <div class="row">
                <div class="col-xs-12">
                  <a id="sign-up-link" ng-href="/en/login/signup?continue=https%3A%2F%2Faccounts.spotify.com%2Fen%2Fstatus" class="btn btn-block btn-default ng-binding" role="button" href="/en/login/signup?continue=https%3A%2F%2Faccounts.spotify.com%2Fen%2Fstatus">Sign up for Spotify</a>
                </div>
              </div>
            </div>
          </div><!-- end ngIf: showButton -->

          <!-- ngIf: showAppStoreBanner -->
        </div><!-- end ngIf: showSignup -->
      </signup>
    </div>
  </div>
</div>

</div>
</body>
</html>
