
/* Here it is present the main elements appearing in almost every pages:
  - scrollbar
  - General page style
  - preloader animation
  - header
  - music player and track list ( list of songs )
  - buttons for edit info (add, cancel and start edit operation)
  - footer

  Here there is also the css for the All_songs page.
  - SONG LIST CATALOG PAGE
*/

/*scrollbar style */
:root{
  scrollbar-color: #395761 #2E3645 !important;
  scrollbar-width: thin !important;
}

* {
  scrollbar-width: thin !important;
}
/*end scrollbar style */

/*Preloader*/
 .loader {
     background: #13181d;
     bottom: 0;
     height: 100%;
     left: 0;
     position: fixed;
     right: 0;
     top: 0;
     width: 100%;
     z-index: 10000;
}
 .loader-inner {
     left: 0;
     position: absolute;
     top: 50%;
     width: 100%;
     text-align: center;
     transform: translateY(-50%);
     -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     -o-transform: translateY(-50%);
}
 .loading-spinner {
     width: 6.25rem;
     height: 6.25rem;
     animation: spinner-rotate 2s ease-in-out infinite;
     -webkit-animation: spinner-rotate 2s ease-in-out infinite;
     -moz-animation: spinner-rotate 2s ease-in-out infinite;
     -ms-animation: spinner-rotate 2s ease-in-out infinite;
     -o-animation: spinner-rotate 2s ease-in-out infinite;
}
 .spinner {
     animation: spinner-color 8s ease-in-out infinite, spinner-dash 2s ease-in-out infinite;
     -webkit-animation: spinner-color 8s ease-in-out infinite, spinner-dash 2s ease-in-out infinite;
     -moz-animation: spinner-color 8s ease-in-out infinite, spinner-dash 2s ease-in-out infinite;
     -ms-animation: spinner-color 8s ease-in-out infinite, spinner-dash 2s ease-in-out infinite;
     -o-animation: spinner-color 8s ease-in-out infinite, spinner-dash 2s ease-in-out infinite;
     stroke-linecap: round;
}
 @keyframes spinner-rotate {
     100% {
         transform: rotate(360deg);
         -webkit-transform: rotate(360deg);
         -moz-transform: trotate(360deg);
         -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
    }
}
 @keyframes spinner-color {
     0%, 100% {
         stroke: #d0343a;
    }
     20% {
         stroke: #ff5252;
    }
     40% {
         stroke: #d0343a;
    }
     60% {
         stroke: #ff5252;
    }
     80% {
         stroke: #d0343a;
    }
     100% {
         stroke: #ff5252;
    }
}
 @keyframes spinner-dash {
     0% {
         stroke-dasharray: 1, 200;
         stroke-dashoffset: 0;
    }
     50% {
         stroke-dasharray: 90, 200;
         stroke-dashoffset: -35px;
    }
     100% {
         stroke-dasharray: 90, 200;
         stroke-dashoffset: -125px;
    }
}
/*End preloader*/

/* ------  TYPOGRAPHY AND COMMON STYLE -------*/
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


body, header, div, nav,ul, section{
margin: 0;
padding: 0;
border: 0;
font: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
font-family: 'Open Sans', Helvetica, Arial, sans-serif;
font-weight: 300;
}

h2, h5 {
  margin: 0;
  padding: 0;
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
}

h3{
    margin-bottom: 1rem;
    display: block;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: white;
    margin: 0;
    padding-bottom: 15px;
    font-size: small;
}


*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}

.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}

.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}


.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 800px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 1030px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

h1,
h2,
.h1,
 {
    font-family: 'Dosis', "Helvetica Neue", "Helvetica", Helvetica, Arial,sans-serif;
    margin-bottom:.5rem;
    font-weight: 400;
    position: relative;
    letter-spacing: 2px;
    color: #ffffff;

}

h1, .h1{
     font-size:2.875rem;
     line-height: 1.2;
     letter-spacing: 5px;
}

 h2, .h2 {
     font-size:2.5rem;
     line-height: 3rem;
     letter-spacing: 5px;
}

h5,
.h5 {
  font-size: 14px;
  font-family: 'Dosis', "Helvetica Neue", "Helvetica", Helvetica, Arial,sans-serif;
  font-weight: 400;
  line-height: 1.1;
  color: inherit;
  letter-spacing: 2px;
  color: #ffffff;
}

h7 {
  text-decoration: none;
  /*color: #757575;*/
  color: black;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
}

.uppercase {
    text-transform: uppercase;
}

.text-white {
    color: #ffffff;
}

.span{
    font-size: .75rem;
}

.vertical-align {
    display: -webkit-flex !important;
    display: -moz-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}


a,
a:hover,
a:active,
a:visited,
a:focus {
    text-decoration: none;
}

.paddingBottom {
  padding-bottom: 14rem;
}

.paddingBottom2 {
  padding-bottom: 8rem;
}

.paddingTop {
  padding-top: 14rem;
}
.footerPadding {
  padding-top: 1rem;
}
.paddingGrid {
  padding: 18rem 0 12.5rem 0;
}


.padding {
  padding: 18rem 0;
}

.padding2 {
  padding: 14rem 0;
}
/* End typography and common style*/


/* ==========  HEADER ============== */

.header {
    padding: 1em 0;
}

.header.default {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1040;
}
.header.default a {
    color: white;
    text-decoration: none;
}

.header .left-part {
    float: left;
    margin-left: 3.125rem;
}

.header .middle-part{
 width: 400px;
 position: absolute;
 left: 37%;
 top:20%;
}

.header .right-part {
    float: right;
    margin: 0.6rem;
    margin-right: 3.125rem;
    position: relative;
}

.header.switched-header {
    background-color: #ffffff;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1040;
}

.header .logo {
    display: inline-block;
}
.header .logo h2 {
    color: #ffffff;
    font-size: 3rem;
    font-weight: 600;
}

.header.switched-header .logo h2{
    color: #222222;
}

.main-nav li {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 1.9625rem;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.main-nav ul li i{
   color: #ff5252;
}

.main-menu li a {
    color: #ffffff;
    position: relative;
    padding:1rem 0;
    margin-right: 0 !important;
}

.header.switched-header .main-nav li a {
    color: #949494;
}

/* Button navigation menu music library */

.button {
  display: inline-flex;
  height: 33px;
  width: 120px;
  border: 2px solid #BFC0C0;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 1.1em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}


.header.default a {
  color: white;
  text-decoration: none;
}

.header.switched-header a {
  color: black;
  text-decoration: none;
}

.button a {
  position: relative;
  transition: all .45s ease-Out;
}

#circle {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  background: #BFC0C0;
  position: absolute;
  transition: all .5s ease-Out;
  top: 20px;
  left: 70px;
}

.button:hover #circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -70px;
  left: -70px;
}

.button:hover a {
  color: #2D3142;
}

/*end button navigation */


.list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

/* ========== END HEADER ============== */


table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
table > tbody + tbody {
  border-top: 2px solid #ddd;
}


/******************************/
/* START PLAYER
/******************************/
.darkPlayer .main-music-player.active {
  background: rgba(0, 0, 0, 0.9);
}
.darkPlayer .main-music-player.active .mesh-play i,
.darkPlayer .main-music-player.active .mesh-prev i,
.darkPlayer .main-music-player.active .mesh-next i {
  color: #a5a3a3;
}
.darkPlayer .main-music-player.active .mesh-duration,
.darkPlayer .main-music-player.active .mesh-current-time {
  color: #a5a3a3;
}
.darkPlayer .main-music-player.active .mesh-artist {
  color: #c7c7c7;
}
.darkPlayer .main-music-player.active .hide-player-button {
  background: rgba(0, 0, 0, 0.9);
}
.darkPlayer .main-music-player.active .hide-player-button i {
  color: #fff;
}
.darkPlayer body.opacityPlaylist .main-music-player {
  background: rgba(0, 0, 0, 0.9) !important;
}
.darkPlayer body.opacityPlaylist .main-music-player .mesh-play i,
.darkPlayer body.opacityPlaylist .main-music-player .mesh-prev i,
.darkPlayer body.opacityPlaylist .main-music-player .mesh-next i {
  color: #a5a3a3;
}
.darkPlayer body.opacityPlaylist .main-music-player .mesh-duration,
.darkPlayer body.opacityPlaylist .main-music-player .mesh-current-time {
  color: #a5a3a3;
}
.darkPlayer body.opacityPlaylist .main-music-player .mesh-artist {
  color: #c7c7c7;
}
.darkPlayer body.opacityPlaylist .main-music-player .hide-player-button {
  background: rgba(0, 0, 0, 0.9);
}
.darkPlayer body.opacityPlaylist .main-music-player .hide-player-button i {
  color: #fff;
}
.darkPlayer .playlist-wrapper {
  background: rgba(0, 0, 0, 0.88);
}
.darkPlayer .playlist-wrapper .jp-playlist span,
.darkPlayer .playlist-wrapper .jp-playlist h2,
.darkPlayer .playlist-wrapper .jp-playlist time,
.darkPlayer .playlist-wrapper .jp-playlist i {
  color: #fff!important;
}
.darkPlayer .playlist-wrapper .jp-playlist .trak-item:hover {
  background: rgba(255, 255, 255, 0.04) !important;
}
.darkPlayer .playlist-wrapper .trak-item {
  border-top: none;
  border-bottom: 1px solid rgba(206, 206, 206, 0.1);
}
.darkPlayer .playlist-wrapper .about-list {
  border-bottom: 1px solid rgba(206, 206, 206, 0.1);
}

.main-music-player {
  left: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
  background: transparent;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(transparent, rgba(0, 0, 0, 0));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(transparent, rgba(0, 0, 0, 0));
  /* Standard syntax */
  z-index: 4;
  color: #000;
  height: 4.6rem;
  -webkit-transition-delay: 0;
  transition-delay: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.main-music-player.active {
  background: #f2f2f2;
}
.main-music-player.active .mesh-seek-bar {
  background-color: #c7c7c7;
}
.main-music-player.active .hide-player-button {
  background-color: #f2f2f2;
  color: #141414;
}
.main-music-player.active .mesh-current-time,
.main-music-player.active .mesh-duration {
  color: #000;
}
.main-music-player.active .jplayerButton span {
  background-color: #848484;
}
.main-music-player.active .mesh-play i,
.main-music-player.active .mesh-prev i,
.main-music-player.active .mesh-next i,
.main-music-player.active .mesh-play i,
.main-music-player.active .mesh-pause i {
  color: #333;
}
.main-music-player.active .mesh-artist {
  color: #333;
}
.main-music-player.active .mesh-title {
  color: #999;
}
.main-music-player.hide-player {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -o-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}
.main-music-player.hide-player .hide-player-button i.fa-minus {
  display: none;
}
.main-music-player.hide-player .hide-player-button i.fa-chevron-up {
  display: block;
}
.main-music-player.hide-player-footer {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -o-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}
.main-music-player.hide-player-footer .hide-player-button i.fa-minus {
  display: none;
}
.main-music-player.hide-player-footer .hide-player-button i.fa-chevron-up {
  display: block;
}
.main-music-player .hide-player-button {
  cursor: pointer;
  position: absolute;
  bottom: 100%;
  margin-bottom: -1px;
  right: 0;
  background: transparent;
  padding: 0rem 0.7rem;
  font-size: 1.4rem;
  color: #fff;
  display: block;
  width: 2.6rem;
  line-height: 2.1rem;
  height: 2.1rem;
  -webkit-transition-delay: 0;
  transition-delay: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.main-music-player .hide-player-button:hover {
  text-decoration: none;
  color: #fff;
  background: #000;
}
.main-music-player .hide-player-button i {
  line-height: 2.1rem;
}
.main-music-player .hide-player-button i.fa-chevron-up {
  display: none;
}

.jp-playlist .header-text {
  padding-bottom: 7rem;
  text-align: center;
}
.jp-playlist .header-text h1 {
  margin-bottom: 0;
  padding-bottom: 0;
}
.jp-playlist .header-text p {
  font-family: 'Karla', sans-serif;
  color: #000;
  letter-spacing: 0.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0;
  padding-bottom: 0;
}
.jp-playlist .about-list .about-name,
.jp-playlist .about-list .about-length,
.jp-playlist .about-list .about-available {
  padding-bottom: 2rem;
  font-size: 1.3rem;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  color: #525252;
}
.jp-playlist .about-list .about-name {
  display: block;
  width: 60%;
  float: left;
  padding-left: 15rem;
  padding-bottom: 2rem;
}
.jp-playlist .about-list .about-length {
  display: block;
  width: 20%;
  float: left;
  text-align: center;
  padding-bottom: 2rem;
}
.jp-playlist .about-list .about-available {
  display: block;
  width: 20%;
  float: left;
  padding-right: 3rem;
  padding-bottom: 2rem;
  text-align: right;
}
.center-side {
  position: absolute;
  left: 50%;
  width: 60rem;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 1rem 0;
  text-align: center;
}
.center-side:before,
.center-side:after {
  content: " ";
  display: table;
}
.center-side:after {
  clear: both;
}
.center-side:before,
.center-side:after {
  content: " ";
  display: table;
}
.center-side:after {
  clear: both;
}
.center-side .mesh-seek-bar {
  height: 0.1rem;
  cursor: col-resize;
  width: 50rem !important;
  background: #fff;
  top: -0.3rem;
  position: relative;
  margin: 0 1rem;
}
.center-side .mesh-play-bar {
  top: 0;
  position: relative;
  height: 0.1rem;
  background: #bb9b69;
}
.center-side > * {
  display: inline-block;
  line-height: 2.3rem;
}
.play-pause-buttonCustom {
  visibility: hidden;
}
.jplayerButton {
  background-color: transparent;
  border: none;
}
.jplayerButton span {
  display: block;
  background: #fff;
  height: 2px;
  width: 17px!important;
  margin-bottom: 3px;
  transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  position: relative;
  -webkit-transition-delay: 0;
  transition-delay: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.mesh-main-player:before,
.mesh-main-player:after {
  content: " ";
  display: table;
}
.mesh-main-player:after {
  clear: both;
}
.mesh-main-player:before,
.mesh-main-player:after {
  content: " ";
  display: table;
}
.mesh-main-player:after {
  clear: both;
}
.mesh-main-player i {
  font-size: 1.2rem;
}
.mesh-main-player .jplayerButton {
  margin-left: 7.5rem;
  margin-top: 0.2rem;
}
.mesh-main-player .jplayerButton span {
  background: #fff;
}
.mesh-main-player .jplayerButton span.span-2 {
  width: 13px !important;
}
.mesh-main-player .mesh-play,
.mesh-main-player .mesh-pause {
  cursor: pointer;
  position: relative;
  width: 8rem;
  text-align: center;
}
.mesh-main-player .mesh-play i,
.mesh-main-player .mesh-pause i {
  font-size: 2rem;
  color: #fff;
}
.mesh-main-player .mesh-thumbnail {
  position: absolute;
  top: 0.75rem;
  left: 0;
}
.mesh-main-player .mesh-thumbnail img {
  width: 3rem;
  height: 3rem;
}
.mesh-main-player .mesh-prev,
.mesh-main-player .mesh-next {
  width: 2.1rem;
  text-align: center;
  cursor: pointer;
}
.mesh-main-player .mesh-prev i,
.mesh-main-player .mesh-next i {
  font-size: 1.5rem;
  line-height: 2rem;
  display: block;
  color: #fff;
}
.mesh-main-player .mesh-artist {
  font-family: 'PT Sans', sans-serif;
  color: #fff;
  overflow: hidden;
  max-width: 100%;
  font-size: 1.1rem;
  letter-spacing: 0.2px;
  font-weight: 300;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.mesh-main-player .mesh-title {
  margin-bottom: 0.6rem;
  font-family: 'PT Sans', sans-serif;
  color: #fff;
  overflow: hidden;
  max-width: 100%;
  font-size: 1.1rem;
  letter-spacing: 0.2px;
  font-weight: 300;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.mesh-main-player .mesh-volume-bar {
  margin-top: 0.3rem;
  width: 11.5rem;
  height: 0.7rem;
  background: #1a1a1a;
  margin-left: 1.5rem;
  cursor: col-resize;
}
.mesh-main-player .mesh-volume-bar-value {
  height: 0.3rem;
  margin-top: 0.2rem;
  background: #ff0000;
}
.mesh-main-player .left-player-side,
.mesh-main-player .right-player-side {
  line-height: 1.2rem;
  padding: 1.3rem 0;
}
.mesh-main-player .left-player-side {
  padding-right: 0;
}
.mesh-main-player .right-player-side {
  padding-left: 0;
  padding-right: 0 !important;
}
.mesh-main-player .left-player-side {
  float: left;
}
.mesh-main-player .left-player-side:before,
.mesh-main-player .left-player-side:after {
  content: " ";
  display: table;
}
.mesh-main-player .left-player-side:after {
  clear: both;
}
.mesh-main-player .left-player-side:before,
.mesh-main-player .left-player-side:after {
  content: " ";
  display: table;
}
.mesh-main-player .left-player-side:after {
  clear: both;
}
.mesh-main-player .left-player-side > div {
  float: left;
}
.mesh-main-player .left-player-side > div:before,
.mesh-main-player .left-player-side > div:after {
  content: " ";
  display: table;
}
.mesh-main-player .left-player-side > div:after {
  clear: both;
}
.mesh-main-player .left-player-side > div:before,
.mesh-main-player .left-player-side > div:after {
  content: " ";
  display: table;
}
.mesh-main-player .left-player-side > div:after {
  clear: both;
}
.mesh-main-player .right-player-side {
  float: right;
  position: relative;
  width: 24rem;
  height: 4.6rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 4rem;
}
.mesh-main-player .right-player-side:before,
.mesh-main-player .right-player-side:after {
  content: " ";
  display: table;
}
.mesh-main-player .right-player-side:after {
  clear: both;
}
.mesh-main-player .right-player-side:before,
.mesh-main-player .right-player-side:after {
  content: " ";
  display: table;
}
.mesh-main-player .right-player-side:after {
  clear: both;
}
.mesh-main-player .right-player-side > div {
  float: left;
}
.mesh-main-player .right-player-side > div:before,
.mesh-main-player .right-player-side > div:after {
  content: " ";
  display: table;
}
.mesh-main-player .right-player-side > div:after {
  clear: both;
}
.mesh-main-player .right-player-side > div:before,
.mesh-main-player .right-player-side > div:after {
  content: " ";
  display: table;
}
.mesh-main-player .right-player-side > div:after {
  clear: both;
}
.mesh-main-player .right-player-side > div > div {
  float: left;
}
.mesh-main-player .mesh-current-time,
.mesh-main-player .mesh-duration {
  font-size: 1.1rem;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  color: #fff;
  width: 3.5rem;
  text-align: center;
}
.mesh-main-player .mesh-mute,
.mesh-main-player .mesh-unmute {
  cursor: pointer;
  width: 1.2rem;
  text-align: center;
}
.single-playlist {
  margin-bottom: 2rem;
}

/******************************/
/* END PLAYER
/******************************/

/******************************/
/* LIST SONG MANAGEMENT (TRACk LIST)
/******************************/

#track-list{
  position: relative;
  float: none;
  border:none;
  width: 50px;
  height: 40px;
  top:3px;
}

#track-list:hover{
  background-color: transparent;
}


.trak-item {
  margin-bottom: -0.1rem;
  display: block;
  width: 100%;
  border-top: 1px solid rgba(206, 206, 206, 0.3);
  border-bottom: 1px solid rgba(206, 206, 206, 0.3);
  -webkit-transition-delay: 0;
  transition-delay: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  padding-right: 2rem;
  position: relative;
  z-index: 1;
  color: #333;
}

.trak-item:before,
.trak-item:after {
  content: " ";
  display: table;
}
.trak-item:after {
  clear: both;
}
.trak-item:before,
.trak-item:after {
  content: " ";
  display: table;
}
.trak-item:after {
  clear: both;
}
.trak-item.playing .play-pause-button i:before {
  content: '\f04c';
  color: #bb9b69;
}
.trak-item.playing .play-pause-button:hover i {
  opacity: 1;
}
.trak-item audio {
  display: none;
}
.trak-item > * {
  height: 5.5rem;
  display: table;
}

#play-list{
  width: 2rem;
  cursor: pointer;
  text-align: center;
}


.trak-item .play-pause-button {
  width: 11rem;
  cursor: pointer;
  text-align: center;
  margin-right: 4rem;
}
.trak-item .play-pause-button i {
  position: relative;
  top: -0.2rem;
  font-size: 1rem;
  -webkit-transition-delay: 0;
  transition-delay: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.trak-item .play-pause-button:hover i {
  opacity: 0.8;
}
.trak-item .center-y-table {
  display: table-cell;
  vertical-align: middle;
}
.trak-item h2,
.trak-item h3,
.trak-item time {
  padding: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  display: block;
}
.trak-item h2 {
  font-size: 1.4rem;
  line-height: 1.4rem;
  margin-bottom: 0;
}
.trak-item h3,
.trak-item time {
  font-size: 1rem;
  line-height: 1rem;
}
.trak-item .trak-duration {
  line-height: 5.5rem;
  font-size: 1.2rem;
  width: 9.5rem;
  color: #757575;
  font-weight: 400;
  text-align: center;
  font-family: 'Karla', sans-serif;
}
.trak-item .album-and-year {
  width: 14rem;
  padding-right: 2rem;
}
.trak-item .name-artist {
  width: 60rem;
}
.trak-item .name-artist h2 {
  white-space: nowrap;
  width: 58rem;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #757575;
  font-size: 1.4rem;
  font-family: 'Karla', sans-serif;
  letter-spacing: 0.1rem;
  font-weight: 400;
}
.trak-item > * {
  float: left;
}
.trak-item .additional-button {
  float: right;
  width: 12rem;
  text-align: center;
}
.trak-item .additional-button a {
  display: inline-block;
  width: 2.6rem;
  height: 2.6rem;
  text-align: center;
  line-height: 2.8rem;
  color: #000;
  margin-right: 1.7rem;
  position: relative;
}
.trak-item .additional-button a:last-child {
  margin-right: 0;
}
.trak-item .additional-button a i {
  background: transparent;
  font-size: 1.2rem;
}
.trak-item .additional-button a:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50%;
  background: #bb9b69;
  opacity: 0;
  z-index: -1;
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition-delay: 0;
  transition-delay: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.trak-item .additional-button a:hover {
  color: #fff;
}
.trak-item .additional-button a:hover:before {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.trak-item:hover {
  background: rgba(255, 255, 255, 0.5);
}
/******************************/
/* END LIST SONG MANAGMENT
/******************************/
@media (max-width: 1200px) {
  .mesh-main-player .right-player-side {
    width: 14rem;
  }
  .center-side {
    width: 50rem;
  }
  .center-side .mesh-seek-bar {
    width: 40rem !important;
  }
  .mesh-main-player .jplayerButton {
    margin-left: 3.5rem;
  }
  .trak-item .name-artist {
    width: 46rem;
  }
  .trak-item .name-artist h2 {
    width: 44rem;
  }
}
@media (min-width: 1030px) {
  .mesh-main-player .left-player-side {
    padding-left: 2rem;
  }
  .mesh-main-player .right-player-side {
    padding-right: 2rem;
  }
}
@media (max-width: 1030px) {
  .main-music-player {
    width: 100%;
  }
  .mesh-main-player .mesh-title {
    max-width: 33.5rem;
  }
  .center-side {
    width: 30rem;
  }
  .center-side .mesh-seek-bar {
    width: 20rem !important;
  }
  .mesh-main-player .right-player-side {
    width: 16rem;
  }
  .jp-playlist .about-list .about-name {
    padding-left: 9rem;
  }
  .trak-item .play-pause-button {
    width: 9rem;
    margin-right: 0;
  }
  .trak-item .name-artist {
    width: 36.5rem;
  }
  .trak-item .name-artist h2 {
    width: 34.5rem;
  }
}
@media (max-width: 800px) {
  .mesh-main-player .mesh-volume-bar {
    display: none !important;
  }
  .trak-item .album-and-year {
    display: none;
  }
  .center-side {
    width: 8rem;
  }
  .center-side .mesh-seek-bar {
    display: none;
  }
  .center-side .mesh-duration {
    text-align: left;
  }
  .center-side .mesh-current-time {
    text-align: right;
  }
  .center-side .mesh-current-time:after {
    content: '/';
    position: relative;
    right: -0.2rem;
  }
  .trak-item .trak-duration {
    display: none;
  }
  .trak-item .name-artist {
    width: 22rem;
  }
  .trak-item .name-artist h2 {
    width: 20rem;
  }
  .jp-playlist .about-list .about-length {
    visibility: hidden;
    opacity: 0;
    width: 0;
  }
  .jp-playlist .about-list .about-available {
    width: 40%;
  }
  .playlist-wrapper {
    padding-top: 3rem;
  }
  .main-music-player {
    padding: 0 2rem 0 2rem;
  }
}
@media (min-width: 1030px) {
  .albumSingle .jp-playlist .about-list .about-available {
    display: none;
  }
  .albumSingle .jp-playlist .about-list .about-name {
    padding-left: 5rem;
  }
  .albumSingle .trak-item {
    border-color: #e6dfdd;
  }
  .albumSingle .trak-item .play-pause-button {
    width: 5rem;
    margin-right: 0;
  }
  .albumSingle .jp-playlist .about-list .about-name {
    width: 80%;
  }
  .albumSingle .trak-item .name-artist {
    width: 45rem;
  }
  .albumSingle .trak-item .name-artist h2 {
    width: 45rem;
  }
  .albumSingle .trak-item .trak-duration {
    float: right;
    line-height: 4.7rem;
  }
  .albumSingle .trak-item > * {
    height: 4.7rem;
  }
}
@media (min-width: 800px) {
  .albumSingle .jp-playlist .about-list .about-available {
    display: none;
  }
  .albumSingle .jp-playlist .about-list .about-name {
    padding-left: 5rem;
  }
  .albumSingle .trak-item {
    border-color: #e6dfdd;
  }
  .albumSingle .trak-item .play-pause-button {
    width: 5rem;
    margin-right: 0;
  }
  .albumSingle .jp-playlist .about-list .about-name {
    width: 80%;
  }
  .albumSingle .trak-item .name-artist {
    width: 30rem;
  }
  .albumSingle .trak-item .name-artist h2 {
    width: 30rem;
  }
  .albumSingle .trak-item .trak-duration {
    float: right;
    line-height: 4.7rem;
    text-align: right;
  }
  .albumSingle .trak-item > * {
    height: 4.7rem;
  }
  .albumSingle .jp-playlist .about-list .about-length {
    text-align: right;
    padding-right: 2rem;
  }
}
@media (max-width: 500px) {
  .trak-item {
    padding-right: 2rem;
  }
  .main-music-player {
    padding: 0 2rem 0 2rem;
  }
  .mesh-main-player .mesh-play,
  .mesh-main-player .mesh-pause {
    width: 3rem;
  }
  .mesh-main-player .mesh-prev,
  .mesh-main-player .mesh-next {
    display: none;
  }
  .mesh-main-player .jplayerButton {
    margin-left: 3rem;
  }
  .mesh-thumbnail {
    display: none;
  }
  .center-side {
    display: none;
  }
  .jp-playlist .about-list .about-name {
    padding-left: 5rem;
  }
  .right-player-side {
    padding-right: 0!important;
    padding-left: 0!important;
  }
  .trak-item .play-pause-button {
    width: 5rem;
    margin-right: 0;
  }
  .trak-item .name-artist {
    width: 15rem;
  }
  .trak-item .name-artist h2 {
    width: 13rem;
  }
  .trak-item .additional-button a {
    margin-right: 0.7rem;
  }
  .trak-item .additional-button a:last-child {
    margin-right: 0;
  }
}
@media (max-width: 400px) {
  .trak-item .additional-button {
    display: none;
  }
  .jp-playlist .about-list .about-available,
  .jp-playlist .about-list .about-length {
    display: none;
  }
  .jp-playlist .about-list .about-name {
    width: 100%;
  }
}
@media (max-width: 360px) {
  .trak-item .name-artist {
    width: 18rem;
  }
  .trak-item .name-artist h2 {
    width: 18rem;
  }
}

/* buttons edit infor */
.pad-right-sm{
  padding-right: 10px;
}
.btn_op{
  background-color: transparent;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: #3E4042;
  width: 35px;
  height: 35px;
  vertical-align: top;
  text-align: center;
  color:white;
  cursor: pointer;
  margin-top: 10px;
}

.add_item{
  width: 200px;
  height: 80px;
  margin-left: 0;
  margin-top: 10%;
}

.new_item{
  background-color: rgb(191, 192, 192, 0.7);
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #3E4042;
  width: 130px;
  height: 40px;
  vertical-align: top;
  text-align: center;
  color:white;
  cursor: pointer;
  margin-top: 20px;
}


.new_item:hover,
.btn_op:hover{
  border-color: #8A8D91;
}

.green{
  color: green;
}

.red{
  color: red;
}

.operation{
  display: none;
}
/* end button edit info */

.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.col-sm-8 {
  margin-left: auto;
  margin-right: auto;
}

.padding-no-title{
  padding: 12rem 0;
}


/*======= FOOTER =======*/
.footer.bottom{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#eeeeee;
}


/*======= SONG LIST CATALOG PAGE =======*/
.container.list_songs{
    background-color: rgb(255, 255, 255, .8);
}

.tableEvents table td {
    padding: 1.5rem 0;
    border-bottom: 1px solid #d8d8d8;
    font-family: 'Karla', sans-serif;
}

.tableEvents table td a:hover {
    color: #757575;
}
.tableEvents table td a {
    text-decoration: none;
    color: #757575;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
}

.tableEventsTitle{
  text-align: left;
  font-size: 18px;
}

.tableEvents table td {
  padding-left: 15px;
}

.tableEvents table tr:hover{
    background-color: rgb(255, 255, 255, .3);
}

/* title */
.sectionTitle {
  text-align: center;
  text-transform: uppercase;
}

.sectionTitle .heading-b3 {
  top: 1.2rem!important;
}
.sectionTitle span.heading-b3 {
  display: block;
  height: 1px;
  width: 70px;
  margin: 0 auto;
  background-color: #bb9b69;
  position: relative;
  top: 1.6rem;
}

/*======= END SONG LIST CATALOG PAGE =======*/
