section.discography {
    margin-top: 15%;
    width: 100%;
    position: relative;
}


.block-content {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-bottom: .3125rem;
    text-align: center;
}

img {
    margin-bottom: 1rem;
    display: inline-block;
    vertical-align: middle;
    height: auto;
    max-width: 100%;
}

img.animated {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
    transition: .45s ease;
    /*max-width: initial;*/
}

/*hence, when I pass the pointer on it, it's going to be applied the :hover class. When it's not so, it's applied the animated class.*/
/*Pay attention: the order counts: put img:hover before img.animated makes it no work*/
img:hover {
    -webkit-transform: translateX(0);
    transform: translateX(0);
      transition: .45s ease;
}


/*The child selector (>) selects all elements that are the children of a specified element.
It's equivalient to write .list-inline li {}*/

.list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.col_playlist {
    width: 25%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    float: none;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    table-layout: fixed;
}

.block-social li a:hover {
    color: rgba(255,255,255,1);
}

.block-social li a {
    color: rgba(255,255,255,.7);
    border: 2px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-color: rgba(255,255,255,.07);
    padding: 0.2875rem 0.55rem;
    font-size: 1.936rem;
    display: inline-block;
    margin-right: .3rem;
}

a #add_playlist{
  color: black;
  font-size: 200px;
  border: 2px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-color: rgba(255,255,255,.07);
  padding: 0.2875rem 0.55rem;
  color: #BFC0C0;
}

#add_playlist:hover{
  color: white;
}
